@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap'); 
*{ 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
	
} 
body{ 
	min-height: 100vh; 
	display: flex; 
	align-items: center; 
	justify-content: center; 
	background: #dbeefa; 
	font-family: 'Poppins', sans-serif; 
	background-repeat: no-repeat;
	background-size: cover;
	
} 
.accordion{ 
	max-width: 33rem; 
	width: 100%; 
	background: #FFF; 
	margin:0 1rem; 
	padding: 1rem; 
	border-radius: 0.5rem; 
	box-shadow: 0 0 5px rgba(0,0,0,0.2); 
} 
.accordion .accordion-content{ 
	margin:10px 0; 
	border-radius: 5px; 
	background-color: #e8ffdc; 
	border-color: #bbffaa; 
	overflow: hidden; 
} 

.accordion-content.is-open{ 
	padding-bottom: 10px; 
} 
.accordion-content header{ 
	display:flex; 
	min-height: 50px; 
	padding: 0 15px; 
	cursor: pointer; 
	align-items: center; 
	justify-content: space-between; 
	transition:all 0.2s linear; 
} 
.accordion-content.is-open header{ 
	min-height: 35px; 
} 
.title{ 
	font-size: 1rem; 
	font-weight: 600; 
	color:#000000; 
} 
.description{ 
	height:0; 
	font-size: 13px; 
	color:#000000; 
	font-weight: 400; 
	padding: 0 15px; 
}



















/*#home {
	margin-left: 78%;
	padding: 0.3rem;
	font-family: 'Poppins', sans-serif;
	font-weight: 750;
	background-color: #dbeefa;
}
#home:hover {
	background-color: #69c0f6;
}*/
